* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  padding: 15px 25px;
  background: #dd0000;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161616;
  color: white;
  border-radius: 30px;
  margin: 50px auto;
}
.banner-text {
  padding-left: 45px;
}
.banner-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
.banner-description {
  max-width: 500px;
  font-weight: 400;
  color: #ffffff;
  margin: 25px 0px;
}
.banner-img img {
  display: block;
}
.up-coming-match-wapper {
  display: flex;
  gap: 24px;
}
.up-coming-match-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: black;
  padding: 30px;
  border-radius: 10px;
  height: fit-content;
  width: 25%;
}
.up-coming-match-left .btn-primary:nth-child(2),
.up-coming-match-left .btn-primary:nth-child(3) {
  background: white;
}
.up-coming-match-right .card {
  padding: 50px 30px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
}
.flag-flex {
  display: flex;
  gap: 15px;
  align-items: center;
}
.match-title {
  margin: 15px 0px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.match-date {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: block;
}
.up-coming-match-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
}

/* laptop devices */
@media (max-width: 992px) {
  .container{
    margin: 0px 20px;
  }
  .up-coming-match-wapper {
    flex-direction: column;
  }
  .up-coming-match-left {
    flex-direction: row;
    background: white;
    width: 100%;
    
  }
  .btn-primary{
    flex: 1;
  }
  .up-coming-match-left .btn-primary:nth-child(2),
  .up-coming-match-left .btn-primary:nth-child(3) {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
  }
  .up-coming-match-right{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  
}

/* Mobile resposive */
@media (max-width: 768px) {
  .container {
    margin: 0px 10px;
  }
  .banner {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .banner-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
  }
  .banner-description {
    margin: 8px 0px;
  }
  .flag-flex{
    flex-direction: column;
  }
  .up-coming-match-right{
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
